@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #527295;
  --secondary-color: #98afc7;
}

body {
  font-family: "Roboto", sans-serif !important;
}

main {
  min-height: 80vh;
}

.bg-secondary-custom {
  background-color: var(--secondary-color) !important;
}

.active {
  font-weight: bold !important;
  background-color: #fff var(--secondary-color) !important;
}
